*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    display: grid;
    grid-template: 1fr 6fr 3fr/ 1fr;
    grid-template-areas: 
	"header"
	"current-weather"
	"forecast";
    background-image: linear-gradient(135deg, midnightblue, dodgerblue);
    background-color: darkgray;
}

.header{
    grid-area: header;
    display: grid;
    grid-template: 1fr / 3fr 1.5fr;
    background-image: linear-gradient(90deg, dimgray, darkgray);
    min-height: 50px;
}

.title{
    font-size: 28px;
    padding: 0px 0px 0px 5%;
    display: grid;
    align-items: center;
}

.search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 5%;
}

.search-input{
    font-size: 20px;
    width: 90%;
    min-width: 170px;
    border-radius: 15px;
    height: 30px;
    padding-left: 15px;
    background-color: lightgray;
    margin-right: 5px;
    border: 1px solid black;
}

.search-button{
    position: absolute;
    right: 4%;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
}

.current-weather-container{
    grid-area: current-weather;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 5vh;
}

.current-weather-module{
    flex: 0 0 auto;
    width: min(400px, 80%);
    height: 100%;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 5px;
    display: grid;
    grid-template: 1fr 2fr 3fr 1.5fr / repeat(2, 1fr);
    grid-template-areas: 
        "current-title current-title"
        "current-icon current-icon"
        "temp temp"
        "precip-prob feels-like";    
}

.current-title{
    grid-area: current-title;
    display: grid;
    justify-content: center;
    align-items: center;
    color: gray;
    border-bottom: 1px gray solid;
    width: 70%;
    margin: 0 auto;
}

.current-icon{
    grid-area: current-icon;
    display: grid;
    justify-content: center;
    align-items: center;
}

.current-icon>img{
    width: 100px;
    height: 100px;
}

.temp{
    grid-area: temp;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    align-self: start;
}

.feels-like{
    grid-area: feels-like;
    display: grid;
    justify-content: center;
    align-items: start;
}

.feels-like-title{
    font-size: 12px;
}

.feels-like-temp{
    font-size: 28px;
    margin-left: 12%;
}

.precip-prob{
    grid-area: precip-prob;
    display: grid;
    grid-template: 1fr 3fr / 1fr;
    justify-content: center;
    align-items: center;
}

.precip-title{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.precip-percent{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.precip-type{
    grid-area: precip-type;
    display: grid;
    justify-content: center;
    align-items: center;
}

.forecast-container{
    grid-area: forecast;
    display: grid;
    grid-template: 1fr 6fr / 1fr;
    grid-template-areas: 
        "forecast-title"
        "items-container";
}

.forecast-title{
    grid-area: forecast-title;
    display: flex;
    justify-content: center;
    color: lightgray;
    border-bottom: lightgray 1px solid;
    width: 75%;
    margin: 0 auto;
}

.forecast-items-container{
    grid-area: items-container;
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin-top: 15px;
}

.forecast-item{
    flex: 0 0 auto;
    width: min(120px, 20vw);
    height: min(150px, 100%);
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 5px;
    display: grid;
    grid-template: .5fr 1fr 1fr / repeat(2, 1fr);
    grid-template-areas:
        "forecast-day forecast-day" 
	    "forecast-icon forecast-icon"
	    "forecast-tempmin forecast-tempmax";
}

.forecast-day{
    grid-area: forecast-day;
    display: grid;
    justify-content: center;
    align-items: center;
    color: gray;
    width: 70%;
    margin: 0 auto;
    font-size: 12px;
}

.forecast-icon{
    grid-area: forecast-icon;
    display: grid;
    justify-content: center;
    align-items: center;
    border-bottom: black 2px solid;
}

.forecast-icon>img{
    width: 50px;
    height: 50px;
}

.forecast-tempmin{
    grid-area: forecast-tempmin;
    display: grid;
    justify-content: center;
    align-items: center;
    border-right: gray 1px solid;
}

.forecast-tempmax{
    grid-area: forecast-tempmax;
    display: grid;
    justify-content: center;
    align-items: center;
}